*{
	padding:  0;
	margin:  0;
}

body{
	background-color: gray ;
}

#container{
	width: 800px;
	height: 800px;
	background-color: white;
	margin: 20px auto;
}

#container>div>div{
	display: inline-block;
	width: 100px;
	height: 60px;
	text-align: center;
	padding-top: 40px;
}

#container>div:nth-child(odd)>div:nth-child(odd){
	background-color: black;
	color: white;
}

#container>div:nth-child(even)>div:nth-child(even){
	background-color: black;
	color: white;
}

.div>div>div{
	display: inline-block;
	width: 100px;
	height: 60px;
	text-align: center;
	padding-top: 40px;
	padding-left: 60px;
	background-color: red;
}